@tailwind base;
@tailwind components;
@tailwind utilities;

/*TODO: replace with local font before production release. More here: https://rsms.me/inter/*/
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.menubtn {
    @apply text-2xl font-bold hover:text-blue-400 hover:underline cursor-pointer
}

.selected {
    @apply text-blue-800
}

input, textarea {
    @apply border-blue-300 border p-1 rounded-sm text-sm min-w-min
}

.articleLinks a {
    @apply hover:text-blue-500/50 underline decoration-blue-600 cursor-pointer hover:underline !important;
}

.menu a {
    @apply hover:text-blue-500/50 cursor-pointer hover:underline !important;
}

/* .prose-sm h1, .prose-sm h2, .prose-sm h3, .prose-sm h4 {
    margin-top: 15px;
    margin-bottom: 2px !important;
    font-weight: 600;
} */


/* .prose
{
    max-width: 100%;
} */

.prose-sm table td, .prose-sm table th {
    @apply border-2 border-blue-300 px-1
}

/* https://alpinejs.dev/directives/cloak */
[x-cloak=""] { display: none !important; }

/* Help of https://dev.to/hus_hmd/alpine-js-responsive-x-cloak-3blp */
@media screen and (max-width: 768px){
    [x-cloak="mobile"] {display: none !important }
}

.text-error {
    @apply text-red-500 italic text-sm
}
